<div class='column is-one-third'>
<% if product.image.present?%>
   <div class="card-image">
    <figure class="image is-4by3">
    <%= image_tag url_for(product.image) %>
    </figure>
  </div>
  <% end %>
  <div class="horse card">
    <div class='card-content'>
      <h5 class='title'>
        <%= link_to product.name, product %>
      </h5>
      <h3>Category: <%= product.category.name %></h3>
      <ul>
        <li>Price: <%= number_to_currency(product.price) %></li>
        <li>Description: <%= product.desc %></li>
      </ul>
    </div>
  </div>
</div>
