<!DOCTYPE html>
<html>
  <head>
    <title>MkEssentials</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  </head>
  <section class='section'>
    <h1 class='title'>
      <%= link_to 'Products', root_path %>
    </h1>
    <h4 class='subtitle'>
      <%= link_to 'About', '/pages/1' %>
    </h4>
    <h4 class='subtitle'>
      <%= link_to "Contact", '/pages/2' %>
    </h4>

    <%= form_with(url: search_results_products_path, method: "get", local: true, :class => "dropdown is-primary") do %>
      <%= collection_select(:categoryquery, :category, Category.all, :id, :name)%>
      <%= label_tag(:query, "Search for:") %>
      <%= text_field_tag(:query) %>
      <%= submit_tag("Search", :class => "button is-primary") %>
    <% end %>

    <div>
      <details>
        <summary>Shopping Cart</summary>
        <% if @cart %>
          <% if @cart.empty? %>
            <p>No Items in cart.</p>
          <% else %>
            <ul>
              <% @cart.each do |product| %>
                <li><%= product.name %><%= link_to 'remove_from_cart', remove_from_cart_path(product), method: :delete, :class => "button is-outlined" %></li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      </details>
    </div>

  </section>

    <section class='section'>
      <%= yield %>
    </section>

</html>
